html, body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #e0f7fa, #b3e5fc, #bbdefb, #90caf9, #64b5f6);
    display: flex;
    flex-direction: column;
    align-items: center;

}
#title {
    text-align: center;
    color: #1375aa;
    font-weight: bold;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    height: 95%;
}
#game-data {
    height: 100px;
    width: 100%;
    background-color: #7cd7cf;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    color: #49cccc;
}
#game-data div {
    display: flex;
    align-items: center;
    gap: 20px;
}
#game-data div i {
    color: #1375aa;
    font-size: 20px;
    cursor: pointer;
}
#game-data div p {
    color: #2696ce;
    font-size: 20px;
    font-weight: bold;
}
#br-tiempo {
    height: 25px;
    border: none;
}

#br-tiempo::-webkit-progress-bar {
    background-color:antiquewhite;
    border-radius: 12px;
}
#br-tiempo::-webkit-progress-value {
    background-color: #16c1c8;
    border-radius: 12px;
}

#game-container {
    height: 80%;
    width: 100%;
    background-color: #e1ecd6;
    display: grid; /* Convierte el contenedor en una cuadrícula */
    grid-template-columns: repeat(4, 1fr); /* 4 columnas del mismo tamaño */
    grid-template-rows: repeat(3, auto);   /* 3 filas ajustadas al contenido */
    gap: 10px; /* Espaciado entre elementos */
    justify-content: center;
    align-items: center;
}


.carta {
    width: 100px;
    height: 150px;
    background-color: #aee1d3;
    border-radius: 12px;
    cursor: pointer;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frente {
    font-size: 60px;
    margin: 0;
    padding: 0;
}

.modal-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border: 3px solid;
}
.modal-content button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #FF6B6B;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.modal-content button:hover {
    background: #E63946;
}